---
# tasks file for core
- name: Check for runto"
  fail: "Variable runto is NOT provided"
  when: "not runto"

- name: Check for env_number
  fail: "Variable env_number is NOT provided"
  when: "not env_number"

- name: Check for todo
  fail: "Variable todo is NOT provided"
  when: "not todo"

