---
# tasks file for map
- name: Env is production
  set_fact:
    env: "prod"
    count: 2
  when: "'{{prefix}}' == 'tacstack'"

- name: Env is test
  set_fact:
    env: "testenv"
    count: 3
  when: "'{{prefix}}' != 'tacstack'"

- name: MAP Status
  include: map_status.yml
  when: runto == 'admin' and todo == "status"

- name: MAP recovery
  include: map_recovery.yml
  when: runto == 'admin' and todo == "recovery"
  vars:
    result_count: 2

# - include: map_status.yml
#   tags: ['map_test_recovery']
#   vars:
#     result_count: 3
