---
- name: Env is production
  set_fact:
    env: "prod"
    count: "2"
  when: "'{{prefix}}' == 'tacstack'"

- name: Env is test
  set_fact:
    env: "testenv"
    count: "3"
  when: "'{{prefix}}' != 'tacstack'"

- name: MAP container status
  shell: docker ps | grep {{prefix}}_
  register: map_container_result
  changed_when: False
 
- fail: msg="Not all containers were started successfully"
  when: "map_container_result.stdout.count('{{prefix}}_') < '{{count}}'"

- name: verify map service
  command: docker exec {{prefix}}_mapapp{{env}}_1 supervisorctl status map
  register: map_status
  changed_when: false
  #until: "'RUNNING' not in map_status.stdout"
  until: "map_status.stdout.count('RUNNING') > 0"
  retries: 5
  delay: 1
#- debug: msg="{{map_status.stdout}}"

- name: verify nodejs service
  command: docker exec {{prefix}}_mapapp{{env}}_1 supervisorctl status nodejs
  register: node_status
  until: "node_status.stdout.count('RUNNING') > 0"
  retries: 5
  delay: 1
  changed_when: false
#- debug: msg="{{node_status.stdout}}"

- name: verify mysql service
  command: docker exec {{prefix}}_mapapp{{env}}_1 supervisorctl status mysql
  register: mysql_status
  until: "mysql_status.stdout.count('RUNNING') > 0"
  retries: 5
  delay: 1
  changed_when: false
#- debug: msg="{{mysql_status.stdout}}"

- name: verify httpd service has started
  command: docker exec {{prefix}}_mapapp{{env}}_1 supervisorctl status httpd
  register: httpd_status
  until: "httpd_status.stdout.count('RUNNING') > 0"
  retries: 5
  delay: 1
  changed_when: false

- name: verify map page loads
  uri: return_content=yes url=http://td-tac01.test.ise.com
  # Try to load the page only when it's map production
  # Need to enhance this so it can extract test container ports
  when: "'{{prefix}}' == 'tacstack'"
  register: map_content
  failed_when: "'<title>MAP</title>' not in map_content.content"

#- debug: var=map_content
      
