---
- hosts: docker_host
  gather_facts: false
  tasks:
    - name: verify map service
      #command: docker exec han_mapapptestenv_1 supervisorctl status map
      command: docker exec tacstack_mapappprod_1 supervisorctl status map
      register: map_status
      failed_when: "'RUNNING' not in map_status.stdout"
      changed_when: false

    - debug: msg="{{map_status.stdout}}"

    # - name: verify nodejs service

    # - name: verify mysql service

    # - name: verify map page loads