---
- hosts: docker_host
  gather_facts: false
  tasks:
    - name: verify map service
      #command: docker exec han_mapapptestenv_1 supervisorctl status map
      command: docker exec tacstack_mapappprod_1 supervisorctl status map
      register: map_status
      changed_when: false
      #until: "'RUNNING' not in map_status.stdout"
      until: "map_status.stdout.count('RUNNING') > 0"
      retries: 10
      delay: 2
    #- debug: msg="{{map_status.stdout}}"

    - name: verify nodejs service
      command: docker exec tacstack_mapappprod_1 supervisorctl status nodejs
      register: node_status
      until: "node_status.stdout.count('RUNNING') > 0"
      retries: 10
      delay: 2
      changed_when: false
    #- debug: msg="{{node_status.stdout}}"

    - name: verify mysql service
      command: docker exec tacstack_mapappprod_1 supervisorctl status mysql
      register: mysql_status
      until: "mysql_status.stdout.count('RUNNING') > 0"
      retries: 10
      delay: 2
      changed_when: false
    #- debug: msg="{{mysql_status.stdout}}"

    - name: verify map page loads
      uri: return_content=yes url=http://td-tac01.test.ise.com
      register: map_content

    - debug: var=map_content
      