---
- hosts: td-pat201.test.ise.com
  gather_facts: False
  tasks:
    - name: gtsstatus
      shell: "{{gtsstatus_m}} {{oat_env|quote}}"
      register: gtsstatus_result
      ignore_errors: True
      changed_when: False

    - debug: msg="Line count is {{gtsstatus_result.stdout_lines|gtsOpconResultCount}}"
    - debug: msg="{{gtsstatus_result.stdout_lines|gtsOpconCutFluff}}"

    - fail: msg="One or more processes are not in their expected state"
      when: gtsstatus_result.stdout_lines|length > 20  #and 
            #"'NewsService' not in {{item}}" and 
            #"'PerformanceLogger' not in {{item}}"
      #with_items: "{{gtsstatus_result.stdout_lines}}"
